<app-my-header text="БАЛАНС"></app-my-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Остаток</ion-label>
    </ion-list-header>

    <div>
      <input [(ngModel)]="name" placeholder = "Модель" />
      <!--<button (click)="addItem(name)">Добавить</button>-->
      <!--<button (click)="downloadFile()">downloadFile</button>-->
    </div>
    <ion-item *ngFor="let item of state.balance">
      <ion-label>{{item}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
