<app-my-header text="ПРИХОД"></app-my-header>
<ion-content>

  <div class="create-btn" (click)="onModal()" >+</div>

  <ion-list lines="none" *ngIf="state.income">
    <ion-list-header>
      <ion-label>Пополнения</ion-label>
    </ion-list-header>

      <ion-item *ngFor="let item of state.income">
        <ion-label class="my-label">{{item.sum}}<ion-icon class="my_icon" name="more" (click)="onModalEdit(item)"></ion-icon></ion-label>
      </ion-item>

<!--

      <ion-item>
        <ion-label>Gaming</ion-label>
        <ion-select [(ngModel)]="gaming">
          <ion-option value="nes">NES</ion-option>
          <ion-option value="n64">Nintendo64</ion-option>
          <ion-option value="ps">PlayStation</ion-option>
          <ion-option value="genesis">Sega Genesis</ion-option>
          <ion-option value="saturn">Sega Saturn</ion-option>
          <ion-option value="snes">SNES</ion-option>
        </ion-select>
      </ion-item>
-->


  </ion-list>
</ion-content>
