
.ion-back-button.header-block{
  justify-content: normal;
}
.header-block{
  justify-content: normal;
}
.my-label {
  background-color: aquamarine;
  border: outset;
  padding: .1em;
  box-shadow: 0 5px 8px rgba(0,0,0,.12);
}
.my_icon {
  float: right;
  width: 30px;
  height: 30px;
}
